.hero {
    width: 100%;
    height: 250px;
    position: relative;
}

.hero h1,
.hero h2 {
    font-family: "Francois One", sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.hero h1 {
    font-size: 2rem;
    letter-spacing: 2px;
}

.hero h2 {
    font-size: 1.5rem;
    margin: 0.6rem;
}

.hero .image-button {
    z-index: 3;
}

.hero-bg,
.hero-content,
.hero-color,
.hero-content {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero-bg {
    z-index: 2;
    opacity: 0.5;
    filter: grayscale(100%);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

.hero-content {
    z-index: 3;
    width: 50%;
    height: 90%;
    left: 25%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-chalkboard {
    opacity: 1;
    background-image: url('../../../images/bg-chalkboard.jpg')
}

.bg-casino {
    opacity: 1;
    background-image: url('../../../images/bg-casino.jpg')
}

.hero.angle-bottom-left {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.hero.angle-bottom-right {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.hero.first {
    z-index: 3;
}

.hero.second {
    margin-top: -3.5rem;
}

.hero.second .hero-content {
    margin-top: 2.5rem;
}

.hero.small {
    height: 150px;
}

.hero.large {
    height: 350px;
}

.hero.x-large {
    height: 450px;
}