@import '../../../index.css';

.banner {
    width: 100%;
    color: white;
    text-align: center;
    padding: 1rem;
}

.social {
    margin-top: 1rem;
    padding: 2rem;
}

.footer {
    margin-top: -2rem;
}