@import '../../../index.css';

.banner {
    width: 100%;
    color: white;
    text-align: center;
    padding: 1rem;
}

.social {
    margin-top: 1rem;
    padding: 2rem;
}

.social, .social a {
    color: var(--color-white-dark);
    text-decoration: none;
}

.social p a {
    border-bottom: 1px solid var(--color-white-dark);
    padding-bottom: 2px;
}

.social a:hover {
    color: white;
    border-color: white;
}

.footer {
    margin-top: -2rem;
}