.gallery {
    color: white;
    background-color: purple;
    width: 100%;
    height: 500px;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
}

.gallery li {
    width: 30%; 
    list-style-type: none;
}

.gallery img {
    width: 100%;
}