.image-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease;
}

.image-button .text {
    color: white;
    text-decoration: none;
    padding: 0.35rem 1rem;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    opacity: 0;
    transition: opacity 0.25s ease;
    transition-delay: 100ms;
}

.image-button:hover .text {
    opacity: 1;
}

.image-button:hover {
    transform: scale(1.1);
}