:root {
    --color-red: #ee2524;
    --color-red-dark: #8c1919;
    --color-black: #333;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.black {
    background-color: var(--color-black);
}

.red {
    background-color: var(--color-red);
}

.dark-red {
    background-color: var(--color-red-dark);
}

.mr-1 {
    margin-right: 1rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mt-1 {
    margin-top: 1rem;
}